# Build and Release Folders
target/

# Eclipse
.settings/
*.classpath
*.project
*.factorypath

# IntelliJ IDEA
.idea
*.iml

# vscode
.vscode

# JRebel
rebel.xml

# macOS
.DS_Store

# svn
.svn/

# vue
y9vue-code/
node_modules/
package-lock.json

.flattened-pom.xml